{% extends "libros/base.html" %}

{% block content %}
<h2>Listado de libros</h2>

<a href="{% url 'crear_libro' %}">Agregar nuevo libro</a>

<ul>
    {% for libro in libros %}
        <li>
            {{ libro.titulo }} - {{ libro.autor }} - {{ libro.anio }}

            <a href="{% url 'editar_libro' libro.id %}">Editar</a>
            <a href="{% url 'eliminar_libro' libro.id %}">Eliminar</a>
        </li>
    {% empty %}
        <li>No hay libros registrados.</li>
    {% endfor %}
</ul>
{% endblock %}